<!DOCTYPE html>
<html lang="en">
  <body>
    <H1>Hallo World</H1>
    <form action="/sign-up/email" method="post">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Sign Up</button>
    </form>

    <button
      onclick="await authClient.signOut();
"
    >
      Sign out
    </button>
  </body>
</html>
